header{
    background-color: transparent !important;
    transition: background-color 0.2s ease-in-out;

}
header.scrolled{
background-color: #fff !important;
transition: background-color 0.2s ease-in-out;
box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

html {
scroll-behavior: smooth;
 }
 
.faq{
    background-image: url(./images/faq.png);
    background-size: cover;
}

@media (max-width: 1024px) {
    .faq{
        background-image: none;
    }
}

.home{
    background-image: url(./images/bg.png);
    background-size: cover;
}